<div>
  <p class="welcome-message" ng-show="userInfo.isAuthenticated"> Welcome, {{userInfo.profile.name}}!</p>
  <p>&nbsp;</p>
  <p class="homepage-message">This sample Single-Page Web App (SPA) demonstrates the OpenID Connect implicit flow. This application uses modified version of ADAL JS library for Okta user authentication. After a successful sign-in, the application receives the ID Token (id_token). The ID token is a JSON Web Token (JWT) that contains user profile information (like the user's name, email, and so forth), represented in the form of claims.</p>
  <p>&nbsp;</p>
</div>
