<h2>You have access to below applications.</h2>
<p>&nbsp;</p>
<div class="container">
  <div class="row">
    <div class="col-sm-3 text-center">
      <div class="card">
          <a href="https://dev.sso.coldwellbanker.com/SSO?Application=dashCB" target="_blank" class=".btn-default">dash</a>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="card">
          <a href="https://dev.sso.coldwellbanker.com/SSO?Application=CBExchCB" target="_blank" class=".btn-default">CB Exchange</a>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="card">
          <a href="https://dev.sso.coldwellbanker.com/SSO?Application=LSSCB" target="_blank" class=".btn-default">List Sync</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <div class="card">
          <a href="https://dev.sso.coldwellbanker.com/SSO?Application=BBPPSCB" target="_blank" class=".btn-default">Broker Business Planning</a>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="card">
          <a href="https://dev.sso.coldwellbanker.com/SSO?Application=OkLLUP" target="_blank" class=".btn-default">LoginLink UserProfile</a>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="card">
          <a href="https://dev.sso.coldwellbanker.com/SSO?Application=OkLLCALC" target="_blank" class=".btn-default">LoginLink Calculator</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <div class="card">
          <a href="https://dev.sso.coldwellbanker.com/SSO?Application=RRSCB" target="_blank" class=".btn-default">Recruiting System</a>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      &nbsp;
    </div>
    <div class="col-sm-3 text-center">
      &nbsp;
    </div>
  </div>
</div>
